# Gradle files
/.gradle
/build

# IntelliJ project files
*.iml
*.ipr
*.iws

# Eclipse project files
.classpath
.project
.settings/
/bin

# CheckStyle
.checkstyle

# PMD and eclipse-PMD
/.eclipse-pmd
/.pmd
/.ruleset

/src/main/java/org/terasology/world/viewer/version/
